$layout-region-background: 'lightest';

.layout {
  &.has-loading {
    &::before {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.65);
      cursor: pointer;
      content: '';
      display: block;
      z-index: 14;
    }
  }

  &__main {
    @include background-color('blue-lighter');
    padding: su(.5);
    position: relative;
  }

  &__footer {
    @include background-color('primary');
    @include font-color('lightest');
    @include font-size('tiny');
    padding: su(1) su(2);
    text-align: center;
  }

  &__main-inner {
    @include display-flex;
    @include justify-content(space-between);
    align-items: stretch;
  }

  &__sidebar-left {
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    margin-right: su(1);
  }

  &__middle {
    width: 100%;

    &.hasList {
      //width: 84%;
    }
  }

  &__sidebar-right {
   // @include background-color('lightest');
    border-radius: $border-radius-default;
    width: 300px;
    min-width: 300px;
    margin-left: su(1);
  }
}
