%btn,
.btn {
  @include font-color('lightest');
  @include font-size('regular');
  border: 1px solid map-get($base-colours, 'lightest');
  transition: 0.3s all ease;
  padding: su(0.5);
  border-radius: 30px;
  transition: all .3s ease;
  cursor: pointer;
  width: 100%;
}

.btn--primary {
  @extend  %btn;
  @include background-color('primary');
  @include font-color('lightest');

  &:hover {
    @include background-color('blue-lighter');
  }

  &:disabled {
    @include background-color('grey-lightest');
    @include font-color('grey');
    border: none;
  }
}

.btn--secondary {
  @extend  %btn;
  @include background-color('lightest');
  @include font-color('primary');

  &:hover:enabled {
    @include background-color('transparent');
    @include font-color('lightest');
  }

  &:disabled {
    @include background-color('grey-lightest');
    @include font-color('grey');
    border: none;
    cursor: not-allowed;
  }
}

.btn--transparent {
  @extend  %btn;
  @include background-color('transparent');

  &:hover {
    @include background-color('lightest');
    @include font-color('primary');
  }
}

.btn--shadow {
  box-shadow: 0 2px 2px 0 #272626;
  border: none;
  cursor: not-allowed;
}
