/*
 * Define breakpoints.
 */
$breakpoint-mobile:           480px;
$breakpoint-tablet:           768px;
$breakpoint-laptop:           1279px;
$breakpoint-desktop:          1367px;
$breakpoint-large-desktop:    1400px;
