$base-colours: (
  'black':                                  #000000,
  'white':                                  #ffffff,
  'almost-white':                           #fdfdfd,
  'white-smoke':                            #ececec,
  'white-gainsboro':                        #e0e0e0,
  'white-ivory':                            #fffdf3,
  'grey-shady-lady':                        #979797,
  'grey-silver':                            #bbbbbb,
  'grey-gull':                              #adafb1,
  'grey-black-squeeze':                     #f2f2ee,
  'grey-white-smoke':                       #f5f5f5,
  'red-cinnabar':                           #de3942,
  'orange-flamingo':                        #e4625d,
  'red-sweet-pink':                         #ee9583,
  'orange-tuft':                            #f7caaf,
  'blue-lochmara':                          #2f76b0,
  'blue-demin':                             #116ba8,
  'blue-steel':                             #4a8ebc,
  'blue-polo':                              #7c9cc3,
  'blue-spindle':                           #b8c6d6,
  'yellow-dandelion':                       #fce058,
  'yellow-salomie':                         #ffe878,
  'yellow-cream':                           #ffeea4,
  'yellow-lemon':                           #fff7cc,
  'green-apple':                            #75ba43,
  'green-mantis':                           #94c969,
  'green-feijoa':                           #b4d792,
  'green-tusk':                             #d0e7b4,
  'blue-lana':                              #528dbe,
  'blue-subtle':                            #549fd2,
  'blue-dark':                              #2d6da2,
  'blue-minor':                             #337ab7,

);

$role-colours: (
  'guest':                                  #DD803B,
  'spectator':                              #F2BE00,
  'member':                                 #F2BE00,
  'vip':                                    #F2BE00,
  'premium':                                #C9A0E4,
  'host':                                   #71E271,
  'manager':                                #008000,
  'moderator':                              #81C9D8,
  'sysops':                                 #0F95BA,
  'admin':                                  #FFFFFF,
  'sysadmin':                               #FFFFFF,
);

$brand-colours: (
  'primary':                                map-get($base-colours, 'blue-lochmara'),
  'secondary':                              map-get($base-colours, 'red-cinnabar'),
  'tertiary':                               map-get($base-colours, 'green-apple'),
  'quaternary':                             map-get($base-colours, 'yellow-dandelion'),
);

$text-colours: (
  'primary':                                map-get($brand-colours, 'primary'),
  'secondary':                              map-get($brand-colours, 'secondary'),
  'tertiary':                               map-get($brand-colours, 'tertiary'),
  'subtle':                                 map-get($base-colours, 'grey-white-smoke'),
  'lightest':                               map-get($base-colours, 'white'),
  'darkest':                                map-get($base-colours, 'black'),
  'red':                                    map-get($base-colours, 'red-cinnabar'),
  'red-light':                              map-get($base-colours, 'orange-flamingo'),
  'red-lighter':                            map-get($base-colours, 'red-sweet-pink'),
  'red-lightest':                           map-get($base-colours, 'orange-tuft'),
  'blue':                                   map-get($base-colours, 'blue-demin'),
  'blue-light':                             map-get($base-colours, 'blue-steel'),
  'blue-lighter':                           map-get($base-colours, 'blue-polo'),
  'blue-lightest':                          map-get($base-colours, 'blue-spindle'),
  'yellow':                                 map-get($base-colours, 'yellow-dandelion'),
  'yellow-light':                           map-get($base-colours, 'yellow-salomie'),
  'yellow-lighter':                         map-get($base-colours, 'yellow-cream'),
  'yellow-lightest':                        map-get($base-colours, 'yellow-lemon'),
  'green':                                  map-get($base-colours, 'green-apple'),
  'green-light':                            map-get($base-colours, 'green-mantis'),
  'green-lighter':                          map-get($base-colours, 'green-feijoa'),
  'green-lightest':                         map-get($base-colours, 'green-tusk'),
  'grey':                                   map-get($base-colours, 'grey-shady-lady'),
  'grey-light':                             map-get($base-colours, 'grey-gull'),
  'grey-lighter':                           map-get($base-colours, 'grey-silver'),
  'grey-lightest':                          map-get($base-colours, 'white-gainsboro'),
  'placeholder':                            map-get($base-colours, 'grey-gull'),
);

$background-colours: (
  'primary':                                map-get($brand-colours, 'primary'),
  'secondary':                              map-get($brand-colours, 'secondary'),
  'tertiary':                               map-get($brand-colours, 'tertiary'),
  'quaternary':                             map-get($brand-colours, 'quaternary'),
  'subtle':                                 map-get($base-colours, 'white-smoke'),
  'lightest':                               map-get($base-colours, 'white'),
  'darkest':                                map-get($base-colours, 'black'),
  'red':                                    map-get($base-colours, 'red-cinnabar'),
  'red-light':                              map-get($base-colours, 'orange-flamingo'),
  'red-lighter':                            map-get($base-colours, 'red-sweet-pink'),
  'red-lightest':                           map-get($base-colours, 'orange-tuft'),
  'blue':                                   map-get($base-colours, 'blue-demin'),
  'blue-light':                             map-get($base-colours, 'blue-steel'),
  'blue-lighter':                           map-get($base-colours, 'blue-subtle'),
  'blue-lightest':                          map-get($base-colours, 'blue-spindle'),
  'blue-dark':                              map-get($base-colours, 'blue-dark'),
  'blue-minor':                             map-get($base-colours, 'blue-minor'),
  'yellow':                                 map-get($base-colours, 'yellow-dandelion'),
  'yellow-light':                           map-get($base-colours, 'yellow-salomie'),
  'yellow-lighter':                         map-get($base-colours, 'yellow-cream'),
  'yellow-lightest':                        map-get($base-colours, 'yellow-lemon'),
  'green':                                  map-get($base-colours, 'green-apple'),
  'green-light':                            map-get($base-colours, 'green-mantis'),
  'green-lighter':                          map-get($base-colours, 'green-feijoa'),
  'green-lightest':                         map-get($base-colours, 'green-tusk'),
  'grey':                                   map-get($base-colours, 'grey-shady-lady'),
  'grey-light':                             map-get($base-colours, 'grey-gull'),
  'grey-lighter':                           map-get($base-colours, 'grey-silver'),
  'grey-lightest':                          map-get($base-colours, 'white-gainsboro'),
  'tab':                                    map-get($base-colours, 'white-smoke'),
  'tab-active':                             map-get($base-colours, 'white'),
  'side-navigation-title':                  map-get($base-colours, 'white-smoke'),
  'layout':                                 map-get($base-colours, 'grey-white-smoke'),
  'transparent':                            transparent,
);

$border-colours: (
  'lighter':                                map-get($base-colours, 'white-smoke'),
  'light':                                  map-get($base-colours, 'white-gainsboro'),
);
