$icons: (
  arrow-right: "\e902",
  arrow-left: "\e905",
  cancel: "\e912",
  dots-three-vertical: "\e913",
  cheveron-up: "\e904",
  cheveron-down: "\e90c",
  cheveron-left: "\e90d",
  cheveron-right: "\e907",
  monitor: "\e914",
  cog: "\e994",
  menu: "\e9bd",
  smile: "\e9e1",
  plus: "\ea0a",
  share2: "\ea82",
  check-circle: "\e915",
  image: "\e916",
  sign-out: "\e917",
  user-circle-o: "\e918",
  info-circle: "\e919",
  home: "\e91a",
  group: "\e91b",
  plus1: "\e91c",
  comments: "\e91d",
  chat: "\e91e",
  suitcase: "\e920",
  user: "\e921",
  cube: "\e91f",
  close: "\e922",
  user-times: "\e924",
  user-plus: "\e925"
);
