$avatar-thumbnail-size:   35px;

.avatar-thumbnail-mini {
  width: $avatar-thumbnail-size;
  height: $avatar-thumbnail-size;
  background: #b0d3e8;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &__part {
    background-position-x: -10px;
    background-position-y: 0px;
    background-size: 55px;
    background-repeat: no-repeat;
    width: $avatar-thumbnail-size;
    height: $avatar-thumbnail-size;

    &.hair,
    &.faces,
    &.head_accessories,
    &.coats,
    &.shirts {
      position: absolute;
      top: 0;
    }
  }

  &.disabled::before {
    @include background-color('grey');
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: .6;
  }
}
